<launch>
    <node pkg="waterway_map" type="planner_node" name="planner_node" output="screen">
        <param name="csv_path" value="/home/ros_ws/demon3.16/src/waterway_map/map/combined_distance_field.csv" />
        <remap from="~planned_path" to="/planned_path" />
        <remap from="~traditional_path" to="/traditional_path" />
    </node>

    <node pkg="waterway_map" type="path_optimizer_node" name="path_optimizer_node" output="screen">
        <param name="weight_data" value="0.2" />
        <param name="weight_smooth" value="0.5" />
        <param name="tolerance" value="0.0001" />
        <remap from="~planned_path" to="/planned_path" />
        <remap from="~smoothed_path" to="/smoothed_path" />
    </node>
    <param name="weight_deviation" value="0.8" />
    <param name="safe_corridor" value="1.0" />

    <node pkg="tf" name="static_tf" type="static_transform_publisher" args="0 0 0 0 0 0 map odom 100" />

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find waterway_map)/config/planning.rviz" />
</launch>